
*{
    margin: 0;
    padding: 0;
}
.container{
    background: linear-gradient(22deg,rgb(0, 174, 255),rgb(254, 254, 254),rgb(0, 242, 255));
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.container p{
    font-size: 25px;
    padding: 0 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    /* border: solid blue 2px; */
    background-color: rgb(12, 12, 12);
    width: 60%;
    border-radius: 5px;

}

label {
    font-size: 34px;
    margin-bottom: 10px;
    padding: 20px 0;
    color: aliceblue;
    text-align: center;
}
.inputs{
    width: 90%;
    /* border: solid red 1px; */
    display: flex;
    justify-content: space-around;
    margin: 10px auto;
    /* height: 35px; */

}
input {
    /* padding: 10px; */
    font-size: 24px;
    border: none;
    height: 35px;
    /* margin-bottom: 20px; */
}

button {
    padding: 10px;
    font-size: 24px;
    margin: 40px auto;
    border: none;
    border-radius: 5px;
    background-color: rgb(5, 5, 129);
    color: aliceblue;
}

.result {
    font-size: 24px;
    margin-top: 20px;
    width: 100%;
   text-align: center;
   color: rgb(240, 248, 255);
}
.cont_res{
    position: fixed;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    background-color: rgb(130, 201, 245);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transform: translateY(-200%);
    transition: .5s;
}
.res_closs{
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: rgb(251, 102, 102);
    color: aqua;
    border-radius: 50%;
    font-size: 22px;
    line-height: 30px;
    position: absolute;
    top: -20px;
    right: -20px;
    cursor: pointer;
}
.ver_res{
    transform: translateY(0%);
 
}
@media(max-width:900px){
    .inputs{
        width: 100%;
    }
    label{
        font-size: 25px;
    }
    input,button,.result{
        font-size: 20px;
    }
    form{width: 80%;}
    .cont_res{
        left: 5%;
        right: 5%;
    }
}
@media(max-width:576px){
    .inputs{
        flex-direction: column;
    }
    input{
        width: 60%;
        margin: 10px auto;
    }
    label{
        font-size: 20px;
    }
    form{
        width: 100%;
    }
    .cont_res{
        left: 0%;
        right: 0%;
    }
    .res_closs{
        right: 50%;
        top: -30px;
    }
}